body{
    line-height: 17px;
    background-color: #E6EAE8;
}

.layout_bar{
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: lightgrey;
    border-bottom: 0.25em solid #2980b9;
    display: inline-flex;
}

.top_bar{
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: lightgrey;
    border-bottom: 0.25em solid #2980b9;
    display: inline-flex;
    z-index: 10;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    margin-left: 10px;
    color: #1086BA;
    font-size: 150%;
    position: relative;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 9px;
    /* padding-top: 0.6%; */
    text-shadow: #7386E2 0.5px 0.5px 0px;
}

a:hover{
    text-decoration: none;
}

.container a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.container a:hover{
    border-bottom: 3px solid lightcoral;
}

.layout_bar nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover{
    border-bottom: 3px solid #e67e22;
}

.wrapper{
    margin: 0 auto;
    /* margin-left: 60px; */
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 2px 2px 1px #d3d3d3;
    z-index: -1;
}

.user_details{
    width: 150px;
    height: 220px;
    float: left;
    margin-bottom: 20px;
}

.user-image{
    border-radius: 5px;
    height: 120px;
    margin-right: 5px;
}

.user_details_left_right{
    width: 150px;
    display: inline-table;
    position: absolute;
}

.main_column{
    float: right;
    width: 80%;
    z-index: -1;
    min-height: 170px;
}

.post_form{
    width: 100%;   
}

.post_form textarea{
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #D3D3DE;
    font-size: 15px;
    padding: 5px;
}

#post_button{
    background-color: grey;
}

.post_form input[type="submit"] {
	width: 11%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color:#fff;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor:pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

.profile_left {
	top: -10px;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	/* height: 100%; */
	float: left;
	position: relative;
	background-color: #37B0E9;
	border-right: 10px solid #83D6FE;
	color: #CBEAF8;
	margin-right: 20px;
}

.profile_left img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}

.profile_info {
	display: list-item;
	background-color: #2980b9;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	background-color: #3498db;
}
.deep_blue {
	background-color: #0043f0;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}

.delete_button {
	height: 28px;
	width: 100px;
	float: right;
	border-radius: 4px;
	right: -15px;
	position: relative;
}

.profile_main_column {
	min-width: 675px;
	float: left;
	width: 80%;
	z-index: -1;

}

.profile_info_bottom {
	margin: 10 0 0 7px;

}

#message_textarea {
	width: 85%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}
#message_submit {
	height: 41px;
	width: 120px;
	margin: 0;
	position: absolute;
	border:none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

 .message#blue {
	background-color: darkmagenta;
	border-color: #2980b9;
	float: right;
	margin-bottom: 3px; 
}
 .message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	padding-bottom: 6px; 
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
} 

.postedImage img {
	max-height: 300px;
    max-width: 100%;
    display: block;
	padding-top: 2%;
    margin: 5px auto;
}